
<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    {% load static %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Acurainvestors is a Poland based cryptocurrency invesment company">
    <meta
      property="title"
      content="Acurainvestors"
    />
    <meta
      property="og:title"
      content="Acurainvestors"
    />
    <meta property="og:image" content="{% static 'stock/imag/logo.png' %}" />
    <meta property="og:type" content="Trading Company" />
     <meta property="og:description" content="Acurainvestors is a England based cryptocurrency invesment company" />
    <meta property="og:url" content="{% url 'index' %}" />

    <!-- ========== Page Title ========== -->
    <title>Acurainvestors - carbon emission</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="images/favi.png" type="image/x-icon">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


    <!-- ========== Start Stylesheet ========== -->
    <link href="{% static 'stock/site/assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'stock/site/assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="use.fontawesome.com/releases/v5.8.2/css/all.html"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="{% static 'stock/site/assets/css/flaticon-set.css' %}" rel="stylesheet" />
    <link href="{% static 'stock/site/assets/css/magnific-popup.css' %}" rel="stylesheet" />
    <link href="{% static 'stock/site/assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'stock/site/assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'stock/site/assets/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'stock/site/assets/css/bootsnav.css' %}" rel="stylesheet" />
    <link href="{% static 'stock/site/style.css' %}" rel="stylesheet">
    <link href="{% static 'stock/site/assets/css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'stock/site/assets/css/responsive.css' %}" rel="stylesheet" />
    <link href="{% static 'stock/site/assets/css/particles.css' %}" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5/html5shiv.min.js"></script>
      <script src="assets/js/html5/respond.min.js"></script>
    <![endif]-->

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">
    <script src="js/loginRegAjaxf9e3f9e3.js?v=1.1"></script>
    <link rel="stylesheet" href="css/animate.html">
     <script>
              new WOW().init();
              </script>
    <script type="text/javascript" src="../cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script type="text/javascript" src="../cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>

    <style type="text/css">

.kk {
    display: none;
    transition-property: all;
    transition-duration: 0s;
    transition-timing-function: ease;
}
.mgm {
    border-radius: 7px;
    position: fixed;
    z-index: 90;
    bottom: 80px;
    right: 20px;
    background: #fff;
    padding: 10px 27px;
    box-shadow: 0px 5px 13px 0px rgb(0 0 0 / 30%);
}
.bg-dark{
    color: white!important;
}
p,.white{color: white;}
li,.black{color: black!important;}
</style>


</head>

<body class="bg-dark">

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

        <!-- Start Header Top
    ============================================= -->
    <div class="top-bar-area bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-8 address-info text-left">
                    <div class="info box">
                        <ul>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="info white">
                                    <span>Address</span> ul. Grczewska 113  Warszawa <br>Poland                        </div>
                                <!--  <div class="info">
                                    <span>Address</span>  US: Windmill Hill Business Park, Whitehill Way Swindon.
                                </div> -->
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-envelope-open"></i>
                                </div>
                                <div class="info white">
                                    <span>Email</span>admin@acurainvestors.com                             </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="info white">
                                 +48501927964                             </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 social text-right">
                    <ul>
                       <!-- <li>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-dribbble"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-pinterest"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        </li>
                    </ul>-->
                <!--  <div id="google_translate_element"></div>

                    <script type="text/javascript">
                    function googleTranslateElementInit() {
                      new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                    }
                    </script>

                    <script type="text/javascript" src="../translate.google.com/translate_a/elementa0d8.html?cb=googleTranslateElementInit"></script>
                --></div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Header
    ============================================= -->
        <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default navbar-sticky bootsnav">

            <!-- Start Top Search -->
            <div class="container">
                <div class="row">
                    <div class="top-search">
                        <div class="input-group">
                            <form action="#"><input type="hidden" name="form_id" value="16266437586575"><input type="hidden" name="form_token" value="79003019e8c0e826e41b17eb4205c270">
                                <input type="text" name="text" class="form-control" placeholder="Search">
                                <button type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Top Search -->

            <div class="container">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars black"></i>
                    </button>
                     <div id="google_translate_element"></div>
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img src="{% static 'stock/imag/logo.png' %}" class="logo" alt="Logo" width="180">
                    </a>
                </div>
                               <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                        <li>
                            <a href="{% url 'index' %}" >Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Company</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="{% url 'policy' %}">Our Policy</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Our Packages</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'crypto' %}">Cryptocurrencies</a></li>
                                <li><a href="{% url 'forex' %}">Forex</a></li>
                                <li><a href="{% url 'escrow' %}">Escrow Service</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Affiliate-Programs</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'gold' %}">Gold Mining</a></li>
                                <li><a href="{% url 'carbon' %}">Carbon Emision</a></li>
                                <li><a href="{% url 'real_estate' %}">Real Estate</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}">Register</a>
                        </li>

                    </ul>

                </div><!-- /.navbar-collapse -->
            </div>

        </nav>
        <!-- End Navigation -->

    </header>
    <!-- End Header -->


    <div class="mgm kk" id="show">
        <b id="text" class="black"></b><b class="text-primary" id="amount" style="font-size: 15px"></b>

    </div>
    <!-- Header
      End Header -->  <!-- End Header -->

  <!-- Start Breadcrumb
    ============================================= -->
  <div class="breadcrumb-area shadow dark bg-fixed text-center text-light"
    style="background-image: url({% static 'stock/site/assets/img/banner/1.jpg' %});">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h1>Carbon Emission</h1>
          <ul class="breadcrumb">
            <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
            <li class="active">Carbon</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumb -->

  <!-- Start Our About
    ============================================= -->
  <div class="about-area inc-video default-padding">
    <div class="container">
      <div class="row">
        <!-- Start About -->
        <div class="about-content">
          <div class="col-md-12 info">
            <p>
              Carbon emissions trading is a type of policy that allows companies to buy or sell government-granted
              allotments of carbon dioxide output. The World Bank reports that 40 countries and 20 municipalities use
              either carbon taxes or carbon emissions trading. That covers 13 percent of annual global greenhouse gas
              emissions.
            </p>
            <p>
              Carbon emissions trading really took off when the European Union instituted a cap and trade program in
              2005. This set a cap on the total the amount of CO2 that heavy industries and utilities could emit.
            </p>
            <p>The cap must be low enough to actually reduce the greenhouse gases that cause global warming. If the cap
              is too low, then it will make the cost of doing business too high and slow economic growth. If the cap is
              too high, then it won't impact the pace of global warming.</p>
            <p>The market for carbon trading was $176 billion in 2011. It could exceed $1 trillion by 2020. At least 84
              percent of this is the EU's Emission Trading Scheme. It caps emissions for any company doing business in
              the EU.</p>
            <p>As part of the United Nations Framework Convention on Climate Change, all countries agreed to the Durban
              Platform in 2011. This said they would negotiate the details of a comprehensive global cap and trade
              program by 2015.
            </p>


            <h2>How Trading Works</h2>


            <p>The cap allows each company to emit a certain amount of CO2. The EU issues about 2 billion of these
              European Union Allowances each year. To comply with the EU mandate, companies may either:
            </p>
            <ol class="custom-ul">
              <li>Take measures to emit only what they are allowed.</li>
              <li>Reduce their emissions below the allowed amount and sell or bank the surplus EUAs.</li>
              <li>Continue emitting above their allowance and buy EUAs in the marketplace to cover it.</li>
            </ol>

            <h2>Carbon Emission Reductions Credits</h2>
            <p>Certified Emission Reductions credits are also traded. These were created by the Kyoto Protocol. They are
              credits issued to projects in developing countries that reduce emissions.</p>
            <p>There are also greenhouse gas emission credits, which cover more pollutants than just CO2. They can
              fulfill nation-specific caps in the United States, United Kingdom, Canada, New Zealand, and Japan.</p>

            <h2>Is Carbon Emissions a New Form of Currency?</h2>
            <p>This ability to buy and sell EUAs, CERs, and other units on a freely traded market has created a new form
              of "currency." Traders include not only the emitters themselves but also banks, hedge funds, and other
              investors. They provide liquidity and increase market efficiency. A unit of carbon trading equals the
              reduction of one metric ton of carbon dioxide or its equivalent in other greenhouse gasses.</p>
            <p>The idea of a tradeable market based on something that is just a concept takes trading to a new level.
              Even if the value of a mortgage-backed security is far removed from its underlying asset, you can still
              trace it back to something tangible: a loan made by a bank to a person who owns a house. Increasingly
              abstract forms of currency are on the rise. The 2008 financial crisis was created by new types of
              derivatives. The value of these collateralized debt obligations and MBS expanded far beyond that of the
              hard assets upon which they were based.</p>

            <h2>Creation of new forms of currency is bound to continue. </h2>
            <p>In some ways, carbon trading is a new form of currency. The value of EUAs, CERs, and the like can only be
              traced back to a colorless, odorless gas. But the monetary value assigned to a unit of this gas is based
              on how much damage it can do the climate systems that affect all aspects of our lives. Like gold, but
              unlike a house, it doesn't really have a “useful” value other than what the market says it has. But the
              market didn’t assign that value arbitrarily. It was assigned to address a threat to stability and safety
              of life on Earth.</p>
          </div>
        </div>
        <!-- End About -->
      </div>
    </div>
  </div>
  <!-- End Our About -->

  <!-- Start Clients Are
    ============================================= -->
    <div class="clients-area bg-dark default-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 clients-box">
          <div class="clients-items owl-carousel owl-theme text-center">
            <div class="single-item">
              <a href="#"><img src="{% static 'stock/site/assets/img/clients/01.png' %}" alt="Clients"></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="{% static 'stock/site/assets/img/clients/02.png' %}" alt="Clients"></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="{% static 'stock/site/assets/img/clients/03.png' %}" alt="Clients"></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="{% static 'stock/site/assets/img/clients/04.png' %}" alt="Clients"></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="{% static 'stock/site/assets/img/clients/05.png' %}" alt="Clients"></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="{% static 'stock/site/assets/img/clients/06.png' %}" alt="Clients"></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="{% static 'stock/site/assets/img/clients/07.png' %}" alt="Clients"></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="{% static 'stock/site/assets/img/clients/08.png' %}" alt="Clients"></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="{% static 'stock/site/assets/img/clients/01.png' %}" alt="Clients"></a>
            </div>
            <div class="single-item">
              <a href="#"><img src="{% static 'stock/assets/img/clients/04.png' %}" alt="Clients"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Clients Area -->

 <!-- Start Footer
    ============================================= -->
    <footer class="bg-dark">
        <!-- Start Footer Top -->
        <div class="footer-top bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 logo">
                        <a href="#"><img src="{% static 'stock/imag/logo.png' %}" alt="Logo"></a>
                    </div>
                    <div class="col-md-8 col-sm-8 form text-right">
                        <form action="#"><input type="hidden" name="form_id" value="16266437586575"><input type="hidden" name="form_token" value="79003019e8c0e826e41b17eb4205c270">
                            <div class="input-group stylish-input-group">
                                <input type="email" placeholder="Enter your e-mail here" class="form-control" name="email">
                                <span class="input-group-addon">
                                    <button type="submit">
                                        Subscribe <i class="fa fa-paper-plane"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Top -->
       <!-- End Footer Top -->
        <div class="container">
            <div class="row">
                <div class="f-items default-padding">

                    <!-- Single Item -->
                    <div class="col-md-4 equal-height item  wow  wow slideInDown">
                        <div class="f-item">
                            <h4>About</h4>
                            <p>
                                Acurainvestors Investment is a Poland-based investment firm with offices in UK and USA. We are a dynamic group whose main focus is to provide our clients
                                with the best possible service, We apply a systematic and quantitative approach to
                                investment management, with the aim of generating high-quality and diversifying alpha
                                for its clients portfolios.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-6 item">

                            <h4 style="color: white">Services</h4>
                            <ul>
                                <li ><a href="{% url 'crypto' %}">Cryptocurrencies</a></li>
                                <li><a href="{% url 'forex' %}">Forex</a></li>
                                <li><a href="{% url 'escrow' %}">Escrow Service</a></li>
                                <li><a href="{% url 'gold' %}">Gold Mining</a></li>
                                <li><a href="{% url 'carbon' %}">Carbon Emision</a></li>
                                <li><a href="{% url 'real_estate' %}">Real Estate</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 item">
                        <div class="f-item ">
                            <h4>Contacts</h4>
                            <ul>
                                <!-- <li class="mb-3">
                                    <span><img class="mr-3" width="20" height="20" src="assets/img/phone.svg" /><a href="#">+1 (780) 628-3603</a></span>
                                </li> -->
                                <li class="mb-3">
                                    <span><img class="mr-3" width="20" height="20" src="{% static 'stock/site/assets/img/envelope.svg' %}" /><a href="admin@acurainvestors.com">admin@acurainvestors.com</a></span>
                                </li>
                                <!-- <li class="mb-3">
                                    <span><img class="mr-3" width="20" height="20" src="assets/img/address.svg" /><a href="#">US: 150N Michigan Ave-28th Floor, Chicago.</a></span>
                                </li> -->
                                <li class="mb-3">
                                    <span><img class="mr-3" width="20" height="20" src="{% static 'stock/site/assets/img/address.svg' %}" /><a href="#">ul. Górczewska 113  Warszawa Poland</a></span>
                                </li>
                                <li class="mb-3">
                                    <span><img class="mr-3" width="20" height="20" src="{% static 'stock/imag/apple-phone.png' %}"
><a href="#">+48501927964</a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom bg-dark text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p> Copyright &copy; 2021. All Rights Reserved by <a href="#">acurainvestors.com</a></p>
                    </div>
                    <div class="col-md-6 text-right link">
                        <ul>
                            <li>
                                <a href="{% url 'policy' %}">Company Policies</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!--Start of Tawk.to Script-->

<!--End of Tawk.to Script-->    <!-- End Footer -->
    <!-- jQuery Frameworks
    ============================================= -->
    <script src="{% static 'stock/site/assets/js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'stock/site/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'stock/site/assets/js/equal-height.min.js' %}"></script>
    <script src="{% static 'stock/site/assets/js/jquery.appear.js' %}"></script>
    <script src="{% static 'stock/site/assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'stock/site/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'stock/site/assets/js/modernizr.custom.13711.js' %}"></script>
    <script src="{% static 'stock/site/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'stock/site/assets/js/wow.min.js' %}"></script>
    <script src="{% static 'stock/site/assets/js/progress-bar.min.js' %}"></script>
    <script src="{% static 'stock/site/assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'stock/site/assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'stock/site/assets/js/count-to.js' %}"></script>
    <script src="{% static 'stock/site/assets/js/bootsnav.js' %}"></script>
    <script src="{% static 'stock/site/assets/js/main.js' %}"></script>
    <script src="{% static 'stock/site/assets/js/particles.js' %}"></script>
    <script src="{% static 'stock/site/assets/js/particles_app.js' %}"></script>

    <script src="{% static 'stock/site/assets/js/recents.js' %}"></script>

  <script type="text/javascript" >
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>
<!--
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

        <script type="text/javascript">
            countryList = [
    "Afghanistan",
    "Albania",
    "Algeria",
    "American Samoa",
    "Andorra",
    "Angola",
    "Anguilla",
    "Antarctica",
    "Antigua and Barbuda",
    "Argentina",
    "Armenia",
    "Aruba",
    "Australia",
    "Austria",
    "Azerbaijan",
    "Bahamas (the)",
    "Bahrain",
    "Bangladesh",
    "Barbados",
    "Belarus",
    "Belgium",
    "Belize",
    "Benin",
    "Bermuda",
    "Bhutan",
    "Bolivia (Plurinational State of)",
    "Bonaire, Sint Eustatius and Saba",
    "Bosnia and Herzegovina",
    "Botswana",
    "Bouvet Island",
    "Brazil",
    "British Indian Ocean Territory (the)",
    "Brunei Darussalam",
    "Bulgaria",
    "Burkina Faso",
    "Burundi",
    "Cabo Verde",
    "Cambodia",
    "Cameroon",
    "Canada",
    "Cayman Islands (the)",
    "Central African Republic (the)",
    "Chad",
    "Chile",
    "China",
    "Christmas Island",
    "Cocos (Keeling) Islands (the)",
    "Colombia",
    "Comoros (the)",
    "Congo (the Democratic Republic of the)",
    "Congo (the)",
    "Cook Islands (the)",
    "Costa Rica",
    "Croatia",
    "Cuba",
    "Curaçao",
    "Cyprus",
    "Czechia",
    "Côte d'Ivoire",
    "Denmark",
    "Djibouti",
    "Dominica",
    "Dominican Republic (the)",
    "Ecuador",
    "Egypt",
    "El Salvador",
    "Equatorial Guinea",
    "Eritrea",
    "Estonia",
    "Eswatini",
    "Ethiopia",
    "Falkland Islands (the) [Malvinas]",
    "Faroe Islands (the)",
    "Fiji",
    "Finland",
    "France",
    "French Guiana",
    "French Polynesia",
    "French Southern Territories (the)",
    "Gabon",
    "Gambia (the)",
    "Georgia",
    "Germany",
    "Ghana",
    "Gibraltar",
    "Greece",
    "Greenland",
    "Grenada",
    "Guadeloupe",
    "Guam",
    "Guatemala",
    "Guernsey",
    "Guinea",
    "Guinea-Bissau",
    "Guyana",
    "Haiti",
    "Heard Island and McDonald Islands",
    "Holy See (the)",
    "Honduras",
    "Hong Kong",
    "Hungary",
    "Iceland",
    "India",
    "Indonesia",
    "Iran (Islamic Republic of)",
    "Iraq",
    "Ireland",
    "Isle of Man",
    "Israel",
    "Italy",
    "Jamaica",
    "Japan",
    "Jersey",
    "Jordan",
    "Kazakhstan",
    "Kenya",
    "Kiribati",
    "Korea (the Democratic People's Republic of)",
    "Korea (the Republic of)",
    "Kuwait",
    "Kyrgyzstan",
    "Lao People's Democratic Republic (the)",
    "Latvia",
    "Lebanon",
    "Lesotho",
    "Liberia",
    "Libya",
    "Liechtenstein",
    "Lithuania",
    "Luxembourg",
    "Macao",
    "Madagascar",
    "Malawi",
    "Malaysia",
    "Maldives",
    "Mali",
    "Malta",
    "Marshall Islands (the)",
    "Martinique",
    "Mauritania",
    "Mauritius",
    "Mayotte",
    "Mexico",
    "Micronesia (Federated States of)",
    "Moldova (the Republic of)",
    "Monaco",
    "Mongolia",
    "Montenegro",
    "Montserrat",
    "Morocco",
    "Mozambique",
    "Myanmar",
    "Namibia",
    "Nauru",
    "Nepal",
    "Netherlands (the)",
    "New Caledonia",
    "New Zealand",
    "Nicaragua",
    "Niger (the)",
    "Nigeria",
    "Niue",
    "Norfolk Island",
    "Northern Mariana Islands (the)",
    "Norway",
    "Oman",
    "Pakistan",
    "Palau",
    "Palestine, State of",
    "Panama",
    "Papua New Guinea",
    "Paraguay",
    "Peru",
    "Philippines (the)",
    "Pitcairn",
    "Poland",
    "Portugal",
    "Puerto Rico",
    "Qatar",
    "Republic of North Macedonia",
    "Romania",
    "Russian Federation (the)",
    "Rwanda",
    "Réunion",
    "Saint Barthélemy",
    "Saint Helena, Ascension and Tristan da Cunha",
    "Saint Kitts and Nevis",
    "Saint Lucia",
    "Saint Martin (French part)",
    "Saint Pierre and Miquelon",
    "Saint Vincent and the Grenadines",
    "Samoa",
    "San Marino",
    "Sao Tome and Principe",
    "Saudi Arabia",
    "Senegal",
    "Serbia",
    "Seychelles",
    "Sierra Leone",
    "Singapore",
    "Sint Maarten (Dutch part)",
    "Slovakia",
    "Slovenia",
    "Solomon Islands",
    "Somalia",
    "South Africa",
    "South Georgia and the South Sandwich Islands",
    "South Sudan",
    "Spain",
    "Sri Lanka",
    "Sudan (the)",
    "Suriname",
    "Svalbard and Jan Mayen",
    "Sweden",
    "Switzerland",
    "Syrian Arab Republic",
    "Taiwan",
    "Tajikistan",
    "Tanzania, United Republic of",
    "Thailand",
    "Timor-Leste",
    "Togo",
    "Tokelau",
    "Tonga",
    "Trinidad and Tobago",
    "Tunisia",
    "Turkey",
    "Turkmenistan",
    "Turks and Caicos Islands (the)",
    "Tuvalu",
    "Uganda",
    "Ukraine",
    "United Arab Emirates (the)",
    "United Kingdom of Great Britain and Northern Ireland (the)",
    "United States Minor Outlying Islands (the)",
    "United States of America (the)",
    "Uruguay",
    "Uzbekistan",
    "Vanuatu",
    "Venezuela (Bolivarian Republic of)",
    "Viet Nam",
    "Virgin Islands (British)",
    "Virgin Islands (U.S.)",
    "Wallis and Futuna",
    "Western Sahara",
    "Yemen",
    "Zambia",
    "Zimbabwe",
    "Åland Islands"
];

    var myVar = setInterval(myTimer, 30000);

function myTimer() {
     document.getElementById("show").style.display = "block";
     var countrynumber = Math.floor(Math.random() * countryList.length);
     //249
     var amount = countryList.length * 10 + countrynumber;


     if(countryList[countrynumber].startsWith("U") ||
        countryList[countrynumber].startsWith("S") ||
        countryList[countrynumber].startsWith("A") ||
        countryList[countrynumber].startsWith("C") ||
        countryList[countrynumber].startsWith("B")
        ){
          document.getElementById("text").innerHTML = "A High Ticket Closing from "+countryList[countrynumber] + " just traded with "; document.getElementById("amount").innerHTML = "$"+amount;

     }else{
          document.getElementById("text").innerHTML = "Someone from "+countryList[countrynumber] + " just traded with "; document.getElementById("amount").innerHTML = "$"+amount;
     }



}


  var myVar = setInterval(myTimer1, 20000);

function myTimer1() {
     document.getElementById("show").style.display = "none";

 // document.getElementById("name").innerHTML = "ooo";
}
        </script>
-->
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/60ada6c3a4114e480ad0e8d1/1f6j56saf';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</html>



<script src="https://app.wabi-app.com/widget/js/wabi.js?phone_number=+48501927964lang=en&position=left"></script>



