

<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Acurainvestors.com - withdraw</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'stock/dashboard/css/app.min.css' %}" />

    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'stock/dashboard/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'stock/dashboard/css/components.css' %}" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- Custom style CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'stock/dashboard/css/custom.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'stock/dashboard/css/dashboard.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'stock/dashboard/img/favicon.png' %}" />
</head>


<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>

            <nav class="navbar navbar-expand-lg main-navbar sticky">
	<div class="form-inline mr-auto">
		<ul class="navbar-nav mr-3">
			<li>
				<a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn">
					<i data-feather="align-justify"></i>
				</a>
			</li>

			<li>
				<a href="#" class="nav-link nav-link-lg fullscreen-btn">
					<i data-feather="maximize"></i>
				</a>
			</li>

		</ul>
	</div>
	<ul class="navbar-nav navbar-right">
<div id="google_translate_element"></div>

		<li class="dropdown">
			<a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
				<figure class="avatar mr-2 bg-info text-white" data-initial="{{user}}"></figure>

				<span class="d-sm-none d-lg-inline-block"></span>
			</a>
			<div class="dropdown-menu dropdown-menu-right pullDown">

				<div class="dropdown-title">Hello {{request.user}}</div>
				<a href="{% url 'edit_profile' %}" class="dropdown-item has-icon">
					<i class="far fa-user"></i>
					Profile
				</a>
				<a href="{% url 'password_reset' %}" class="dropdown-item has-icon">
					<i class="fas fa-cog"></i>
					Change Password
				</a>

				<div class="dropdown-divider"></div>

				<a class="dropdown-item has-icon text-danger" href="{% url 'logout' %}" onclick="event.preventDefault();
							document.getElementById('logout-form').submit();">
					<i class="fas fa-sign-out-alt"></i>
					Logout
				</a>
				<form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                    {% csrf_token %}
					<input type="hidden" name="_token" value="BL3S4Gt1ywUtd1O2cU8ol1DsvgXtRMBxU7ck8bR3">				</form>
			</div>
		</li>
	</ul>
</nav>

<div class="main-sidebar sidebar-style-2">
	<aside id="sidebar-wrapper">
		<div class="sidebar-brand">
			<a href="/">
				<span class="logo-name">Acurainvestors</span>
			</a>
		</div>
		<div class="sidebar-user">
			<div class="sidebar-user-picture">
				<figure class="avatar mr-2 bg-info text-white" data-initial="{{user}}"></figure>
			</div>
			<div class="sidebar-user-details">
				<div class="user-name">{{user.username}}</div>
				<div class="user-role">{{user.email}}</div>
			</div>
		</div>
		<ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="activ">
                <a href="{% url 'dashboard' %}" class="nav-link">
                    <i data-feather="monitor"></i>
                    <span>Dashboard</span></a>
            </li>
            <li class="menu-header">Wallet</li>
            <li class="">
                <a href="{% url 'fund' %}" class="nav-link">
                    <i data-feather="briefcase"></i>
                    <span>Fund Investment</span></a>
            </li>
            <li class="">
                <a href="{% url 'investment' %}" class="nav-link">
                    <i data-feather="credit-card"></i>
                    <span>New Investment</span></a>
            </li>
            <li class="">
                <a href="{% url 'deposit_history' %}" class="nav-link">
                    <i data-feather="list"></i>
                    <span>Investment History</span></a>
            </li>
            <li class="">
                <a href="{% url 'withdraw' %}" class="nav-link">
                    <i data-feather="credit-card"></i>
                    <span>Withdrawal Request</span></a>
            </li>
            <li class="">
                <a href="{% url 'withdraw_history' %}" class="nav-link">
                    <i data-feather="list"></i>
                    <span>Withdrawal History</span></a>
            </li>
            <li class="menu-header">Account Settings</li>

            <li class="">
                <a href="{% url 'referrals' %}" class="nav-link">
                    <i data-feather="users"></i>
                    <span>Affiliate Program</span></a>
            </li>
            <li class="">
                <a href="{% url 'edit_profile' %}" class="nav-link">
                    <i data-feather="user"></i>
                    <span>Profile</span></a>
            </li>
        </ul>
	</aside>
</div>
            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
   {% if messages %}
            {% for message in messages%}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
            {% endif %}
                    {%endfor %}
                       {% endif %}

  {% if messages %}
            {% for message in messages%}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
            {% endif %}
                    {%endfor %}
                       {% endif %}


<div class="row mt-5">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header text-center">
                <h4 class="">Withdrawal Request</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'withdraw' %}">
                    {% csrf_token %}
                    <input type="hidden" name="_token" value="BL3S4Gt1ywUtd1O2cU8ol1DsvgXtRMBxU7ck8bR3">                    <div class="form-group">
                        <label>Amount</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    $
                                </div>
                            </div>
                            {{form.amount}}
                            <!--<input type="number" class="form-control" name="amount" value="" class="form-control currency" />-->

                        </div>
                        <small id="passwordHelpInline" class="text-muted">
                            BAL: <span class="text-warning">$<span class="withdraw_available_balance">{{draw.balance}}</span></span>
                        </small>
                                            </div>
                    <div class="form-group">
                        <label>Wallet Address</label>
                        <div class="input-group">
                            {% if pan.wallet %}
                            <h6>{{pan.wallet}}</h6>
                            {% else %}
                            <h6 style="color:red">Update your wallet address</h6>
                            {% endif %}

                        </div>
                                            </div>
                    <div class="text-center"><button class="btn btn-light btn-lg btn-block" type="submit">Submit Request</button></div>

                </form>
            </div>
        </div>
    </div>
</div>
                </section>
            </div>
         <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; 2020 <div class="bullet"></div><a href="#">ACURAINVESTORS </a>
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>












    <!-- <script src="https://longford-investment.com/dashboard/js/jquery_003.js"></script>
        <script src="https://longford-investment.com/dashboard/js/popper.js"></script>
        <script src="https://longford-investment.com/dashboard/js/bootstrap.js"></script> -->

    <!-- General JS Scripts -->
    <script src="{% static 'stock/dashboard/js/app.min.js' %}"></script>

    <!-- JS Libraies -->
    <script src="{% static 'stock/dashboard/bundles/apexcharts/apexcharts.min.js' %}"></script>

    <script src="{% static 'stock/dashboard/bundles/amcharts4/core.js' %}"></script>

    <script src="{% static 'stock/dashboard/bundles/amcharts4/charts.js' %}"></script>

    <script src="{% static 'stock/dashboard/bundles/amcharts4/animated.js' %}"></script>

    <script src="{% static 'stock/dashboard/bundles/jquery.sparkline.min.js' %}"></script>


        <!-- Page Specific JS File -->
        <script src="{% static 'stock/dashboard/js/page/index.js' %}"></script>
        <script src="{% static 'stock/dashboard/js/page/advance-table.js' %}"></script>

        <!-- Template JS File -->
        <script src="{% static 'stock/dashboard/js/scripts.js' %}"></script>

        <!-- Custom JS File -->
        <script src="{% static 'stock/dashboard/js/custom.js' %}"></script>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


</body>

</html>